/* Estilos para el body y texto */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #cf1212;
    margin: 0;
    padding: 20px;
    
}

h1 {
    color: #1ac460;
}

p {
    font-size: 18px;
}

/* Estilo para el contenedor */
.container {
    background: rgb(38, 187, 19);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
}

/* Animación para la imagen */
.imagen-animada {
    width: 300px;
    transition: transform 0.3s ease-in-out;
}

/* Cuando el mouse pasa sobre la imagen */
.imagen-animada:hover {
    transform: scale(1.1);
}
